<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si le fichier ou dossier existe, ne pas réécrire
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Réécrit toutes les autres requêtes vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
