# Activer la réécriture des URL
RewriteEngine On

# Rediriger les requêtes si ce n'est ni un fichier ni un dossier
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

# Ajouter la prise en charge de UTF-8
AddDefaultCharset UTF-8

# Désactiver l'affichage des répertoires
Options -Indexes
